<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles List</title>
</head>
<body>
    <h1>List of Articles</h1>
    <div class="solucas">
        {% for solution in dataFromsolutions %}
            <div class="solution">
                <h2><a href="#">{{ solution.slug}}</a></h2>
                <p>{{ solution.solution}}</p>
                <p>{{ solution.clase}}</p>
                <p>{{ solution.date}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html> -->